@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 776px) {}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 777px) and (max-width: 991px) {}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1199px) {}

// X-Large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) and (max-width: 1399px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media screen and (min-width: 1400px) {

    body {
        background-image: url(../images/design/page-bg.png);
        color: black;
        font-family: 'Anonymous Pro', serif;
    }
// wysoki kontrast strony
    .high-contrast {
        color: yellow !important;
        background-color: black;
        background-image: none;
        a{
            color: yellow;
        }
        .font-im1 {
            color: yellow;
        }
        .font1-index {
            color: yellow;
        }
        .font2-index {
            color: yellow;
        }
        .font-im2 {
            color: yellow;
        }
        #talk {
            color: yellow;
        }
        .col {
            color: yellow !important;
        }
        .row {
            color: yellow !important;
        }
        #jacek {
            color: yellow !important;
            span{
                color: yellow !important;
            }
            a{
                color: yellow !important;
            }
        }
        #kul-bg{
            background: black;
            p{
                color: yellow;
            }
            span{
                color: yellow;
            }
        }
        #col2 {
            color: yellow !important;
        }
        .font-im3 {
            color: yellow;
            -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px yellow;
        }
        .nav-link {
            color: yellow !important;
            a:visited {
                color: yellow !important;
            }
        }
        #navbar-info{
            color: yellow;
        }
        #kontakt-info{
            color: yellow !important;
            p{
                color: yellow !important;
            }
        }
        header{
            background-image: none;
        }
        footer{
            span{
                opacity: 100%;
            }
            #linia2{
                height: 2px;
                width: 120px;
                margin-top: 14px;
            }
        }
        .info-turystyczna2{
            background: black;
            p{
                color: yellow;
            }

        }
        #talk{
            color: yellow !important;
        }
        .card{
            color: yellow;
        }
        .card-text{
            background-color: black;
        }
        .info-turystyczna3{
            background: black;
            p{
                color: yellow;
            }
            #zwiedzanie{
                color: yellow;
            }

        }
        .info-turystyczna{
            background: black;
        }
        #img-if1{
            color: yellow;
        }
        span{
            color: yellow;
        }
        #talk{
            color: yellow;
        }
        .button1-index{
            background-color: yellow;
            border: 1px solid yellow;
            color: rgb(0, 0, 0);
        }
        .button1-index:hover {
            background-color: yellow;
            color: rgb(0, 0, 0);
            transition: 0.5s;
        }
        .button2-index{
            background-color: yellow;
            border: 1px solid black;
            color: black;
        }
        .button2-index:hover {
            background-color: yellow;
            color: rgb(0, 0, 0);
            transition: 0.5s;
        }
        .button3-index{
            background-color: yellow;
            border: 1px solid black;
            color: black;
        }
        .button3-index:hover {
            background-color: yellow;
            color: rgb(0, 0, 0);
            transition: 0.5s;
        }
        #powrot-oferta-black{
            span{
                color: #000000;
            }
            background-color: yellow;
            border: 1px solid black;
            color: black;
        }
        #powrot-oferta-black:hover{
            background-color: yellow;
            border: 1px solid black;
            color: black;
        }
        #powrot-oferta{
            background-color: yellow;
            border: 1px solid black;
            color: black;
        }
        #powrot-oferta:hover{
            background-color: yellow;
            border: 1px solid black;
            color: black;
        }
        .opis{
            color: yellow;
        }
        #welesowy{
            color: yellow;
            background-image: none;
        }
        .welesowy{
            color: yellow;
            background-image: none;
        }


      }
      

    header {
        height: 1265.74px;
        background-image: url(../images/design/perun.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: bottom;
    }

    #navbar {
        font-weight: bold;
        font-size: 18px;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        z-index: 1111;
        justify-content: space-evenly;
        align-content: space-between;

        a:visited {
            color: black;
        }

    }

    // navbar podstron
    #navbar-info {
        background-color: #00000063;
        font-weight: bold;
        font-size: 18px;
        position: fixed;
        display: flex;
        z-index: 1111;
        flex-wrap: inherit;
        align-items: center;
        color: white;
        justify-content: space-evenly;
        align-content: space-between;

    }

    .bg-info {
        background-image: url(../images/content/if-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 608px;
    }

    #img-if2 {
        margin-left: 150px;
        position: relative;
        bottom: 100px;
    }

    #img-if1 {
        padding: 80px;
        font-family: 'Anonymous Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */

        letter-spacing: -1px;

        /* Colors/Black */

        color: #0F0C07;

        span {
            font-weight: 700;
        }
    }

    .info-turystyczna {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
    }

    .info-turystyczna4 {
        h1 {
            margin-top: 170px;
        }
    }

    #card {
        width: 550px;

        .card-title {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 13%;
            left: 50%;
            font-family: 'IM FELL English';
            font-style: italic;
            font-weight: 400;
            font-size: 42px;
            line-height: 100%;
            /* identical to box height, or 42px */
            text-align: center;
            letter-spacing: -1.5px;
            /* Colors/White */
            color: #FFFFFF;
            text-shadow: 0px 4px 14px #000000;
            width: 100%;

        }
    }

    .card {
        position: relative;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.473);
    }

    .card img {
        width: 100%;
        display: block;
    }

    .card-title {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 23%;
        left: 50%;
        font-family: 'IM FELL English';
        font-style: italic;
        font-weight: 400;
        font-size: 42px;
        line-height: 100%;
        /* identical to box height, or 42px */

        text-align: center;
        letter-spacing: -1.5px;

        /* Colors/White */

        color: #FFFFFF;

        text-shadow: 0px 4px 14px #000000;

        width: 100%;
    }

    .card-text {
        margin-top: 20px;
        text-align: left;
        padding: 20px;
    }

    .info-turystyczna3 {
        background-image: url(../images/content/bg-if.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 564px;

        #colcol {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            h1 {
                margin-top: 50px;
            }

            p {
                margin-top: 50px;
            }
        }

        img {
            position: relative;
        }

        #button-kontakt {
            margin-top: 70px;
        }

    }

    .info-turystyczna5 {
        p {
            font-weight: 700;
            padding-top: 20px;
        }

        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
        }
    }

    #if-img1 {
        bottom: 80px;
    }

    #if-img2 {
        bottom: 370px;
        left: 150px;
        z-index: 1111;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    #if-img3 {
        bottom: 450px;
        left: 110px;
    }

    #if-img4 {
        bottom: 180px;
        z-index: 14;
    }

    #if-img5 {
        bottom: 380px;
        right: 0px;
        z-index: 11;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    #if-img6 {
        bottom: 480px;
        right: -50px;
    }

    .info-turystyczna2 {
        background-color: #fff;

        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 40px;
        }

        span {
            font-weight: 700;
        }

        p {
            font-family: 'Anonymous Pro';
            font-style: normal;
            font-weight: 400;
            padding-top: 24px;
            font-size: 18px;
            line-height: 22px;
            /* or 122% */

            text-align: center;
            letter-spacing: -1.5px;

            /* Colors/Black */

            color: #0F0C07;
        }
    }

    .opis-zwiedzanie {
        font-family: 'Anonymous Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */

        text-align: center;
        letter-spacing: -0.5px;

        /* Colors/White */

        color: #FFFFFF;
    }

    #zwiedzanie {
        font-style: italic;
        font-weight: 400;
        font-size: 70px;
        line-height: 113.4%;
        /* or 79px */

        text-align: center;
        letter-spacing: -1.5px;

        /* Colors/Gold2 */

        color: #BC8417;
    }

    .bg-odkryj {
        background-image: url(../images/content/odkryj-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 608px;
    }

    .bg-kulinarny {
        background-image: url(../images/content/szlak-kul-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 608px;
    }

    #kul-bg {
        background-image: url(../images/design/page-bg.png);

        p {
            padding: 15px;
            font-family: 'Anonymous Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            /* or 178% */

            letter-spacing: -1px;

            /* Colors/Black */

            color: #0F0C07;
        }

    }

    #kul-info {
        #card-title {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 21%;
            padding: 30px;
            left: 50%;
            font-family: 'IM FELL English';
            font-style: italic;
            font-weight: 400;
            font-size: 42px;
            line-height: 100%;
            /* identical to box height, or 42px */
            text-align: center;
            letter-spacing: -1.5px;
            /* Colors/White */
            color: #FFFFFF;
            text-shadow: 0px 4px 14px #000000;
            width: 100%;
        }
    }
    #kolo-info {
        #card-title {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 13%;
            padding: 30px;
            left: 50%;
            font-family: 'IM FELL English';
            font-style: italic;
            font-weight: 400;
            font-size: 42px;
            line-height: 100%;
            /* identical to box height, or 42px */
            text-align: center;
            letter-spacing: -1.5px;
            /* Colors/White */
            color: #FFFFFF;
            text-shadow: 0px 4px 14px #000000;
            width: 100%;
        }
    }
#oferta-odkryj{
    padding: 13px 32px;
    font-size: 15px;
}
    #card-text-toggle-btn{
        z-index: 1111;
    }

    .carousel-item img {
        width: 600px;
        height: 600px;
        object-fit: cover;
    }


    .bg-kontakt {
        background-image: url(../images/content/szlak-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 608px;
    }

    // #kontakt-info{
    //     justify-content: space-evenly !important;
    //     display: flex !important;
    //     margin: 50px;
    // }
    #kontakt-opis {

        font-family: 'Anonymous Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        /* or 200% */

        letter-spacing: -0.5px;

        /* Colors/Black */

        color: #0F0C07;

        span {
            font-weight: 700;
        }
    }

    .images-kontakt img {
        position: absolute;
    }

    .image1 {
        left: 120px;
        top: 500px;
    }

    .image2 {
        right: 40px;
        top: 380px;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    .bg-team {
        background-image: url(../images/content/team-build.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 49%;
        height: 608px;
    }

    .bg-czarownice {
        background-image: url(../images/content/czarownice-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 69%;
        height: 608px;
    }

    #powrot-oferta-black {
        padding: 14px 32px;
        padding-left: 24px;
        text-align: center;
        background-color: transparent;
        color: #000000;
        font-family: "Anonymous Pro", monospace;
        font-weight: normal;
        border: 1px solid #000000;
        font-size: 15px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
    }

    #powrot-oferta-black:hover {
        background-color: #000000d3;
        border: 1px #000000d7;
        color: #ffffff;
    }

    #powrot-oferta {
        padding: 14px 32px;
        padding-left: 24px;
        margin-left: 66px;
        margin-right: 24px;
        background-color: transparent;
        color: #fff;
        font-family: "Anonymous Pro", monospace;
        font-weight: normal;
        border: 1px solid #fff;
        font-size: 15px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
    }

    #powrot-oferta:hover {
        background-color: #ffffff92;
        border: 1px #ffffff92;
        color: #000000;
    }

    #linia {
        height: 2px;
        width: 120px;
        margin-top: 14px;
    }
    #linia1 {
        height: 2px;
        width: 120px;
        margin-top: 14px;
    }

    .font-im1 {
        font-family: "IM Fell English";
        src: url("/fonts/IMFellEnglish-Regular.ttf") format("truetype");
        unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F;
        font-size: 110px;
        color: #BC8417;
        font-style: italic;
        letter-spacing: -1.5px;
    }

    .font-im2 {
        line-height: 61.4%;
        color: black;
        font-size: 174px;
        letter-spacing: -3px;
        font-family: "IM Fell English";
        src: url("/fonts/IMFellEnglish-Regular.ttf") format("truetype");
        unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F;
    }

    .opis1-index {
        font-size: 22px;
    }

    b {
        font-weight: bold;
    }

    .button1-index {
        background-color: #BC8417;
        border: 1px solid #BC8417;
        display: inline-block;
        cursor: pointer;
        color: white;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 38px;
        letter-spacing: -0.5px;
        text-decoration: none;
    }

    .button2-index {
        background-color: transparent;
        border: 1px solid black;
        display: inline-block;
        cursor: pointer;
        color: black;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.5px;
        padding: 15px 38px;
        text-decoration: none;
    }

    .button2-index:hover {
        background-color: black;
        color: white;
        transition: 0.5s;
    }

    .button1-index:hover {
        background-color: #ffffff;
        border-color: #BC8417;
        color: #BC8417;
        transition: 0.5s;
    }


    .dot {
        color: #BC8417;
    }

    main {
        background-color: #0f0c07;
        height: 1251px;
        background-image: url(../images/content/galazka2-1.png);
        background-position: right;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: right;

    }

    .font-im3 {
        font-size: 157px;
        letter-spacing: -1.5px;
        font-family: 'IM Fell English', serif;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #CCC2B6;
        z-index: 10;
        transform: rotate(-90deg);
        position: relative;
        top: -1582px;
        left: 552px;

    }

    #korzen {
        position: relative;
        z-index: 11;
        top: -1597px;
        left: 1114px;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    #container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    #container img {
        position: relative;
    }

    .absolute1 {
        z-index: 1;
        margin-left: -220px;
        margin-top: 243px;
    }

    .absolute2 {
        z-index: 2;
        margin-left: -220px;
        margin-top: 123px;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    .absolute3 {
        z-index: 3;
        margin-left: -220px;
    }

    .absolute4 {
        z-index: 4;
        margin-left: -280px;
        margin-top: -653px;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    #container1 .font1-index .font2-index {
        position: relative;
    }

    .font1-index {
        font-size: 26px;
        margin-top: 240px;
        margin-left: 555px;
        color: #CCC2B6;
        font-family: 'IM Fell English', serif;
    }

    .font2-index {
        margin-left: -385px;
        margin-top: 295px;
        font-size: 26px;
        color: #CCC2B6;
        font-family: 'IM Fell English', serif;
    }

    #oferta {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 70px;
        position: relative;
        top: 120px;
    }

    .hexagon {
        position: relative;
        width: 100%;
        top: 180px;
        padding-bottom: 33.6%;
        /* height is 100% * sin(60deg) / cos(60deg) */
        overflow: hidden;


    }

    .hexagon img {
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: auto;
    }

    .hexagon:hover img {
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }



    #dziejesie {
        font-family: 'IM FELL English';
        font-style: italic;
        font-weight: 400;
        font-size: 43px;
        line-height: 113.4%;
        /* identical to box height, or 49px */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        letter-spacing: -1.5px;
    }

    #aktualnosci {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -3px;
    }

    #runa1 {
        position: absolute;
        left: 106px;
        top: 2863px;
        z-index: -2;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-10px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-10px);
            }
        }

    }

    #runa2 {
        position: absolute;
        right: 170px;
        top: 2670px;
        z-index: -2;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    #galazka {
        position: absolute;
        left: -57px;
        top: 2587px;
        z-index: -1;
    }

    #misa {
        position: absolute;
        right: 110px;
        top: 2780px;
        z-index: -1;
    }

    #ac62e217_1612293957 {
        z-index: 10;
        margin-top: 100px;
    }

    .fb-like {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    #updates {
        margin-top: 286px;
        margin-bottom: 168px;
    }

    #welesowy {
        height: 672px;
        background-image: url(../images/content/bg-welesowy.jpg);
    }

    .welesowy {
        font-family: 'IM FELL English';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 113.4%;
        /* or 79px */

        text-align: center;
        letter-spacing: -1.5px;

        color: #EE2F41;
    }

    #logo-byka {
        display: block;
        margin: auto;
        text-align: center;
    }

    #talk {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #ffffff;
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -3px;
    }

    .box-footer {
        padding-top: 94px;
    }

    .weles-footer {
        padding-top: 94px;
    }

    footer {
        background-color: #070603;

        span {
            opacity: 50%;
        }
    }

    .opis {
        font-family: 'Anonymous Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        color: #FFFFFF;
        text-align: center;
        letter-spacing: -0.5px;
    }

    .col {
        line-height: 36px;
        font-size: 18px;
    }

    .button3-index {
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        display: inline-block;
        cursor: pointer;
        font-family: 'Anonymous Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height, or 161% */

        letter-spacing: -0.5px;

        /* Colors/White */

        color: #FFFFFF;
        padding: 15px 38px;
        text-decoration: none;
    }

    .button3-index:hover {
        background-color: #EE2F41;
        color: white;
        transition: 0.5s;
        border: 1px solid #EE2F41;
    }

    .bulwa {
        position: relative;
        bottom: 300px;
        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

    .runa-mz {

        -webkit-animation: action 1s infinite alternate;
        animation: action 1s infinite alternate;

        @-webkit-keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }

        @keyframes action {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(20px);
            }
        }
    }

}