@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {}

body {
    background-image: url(../images/design/page-bg.png);
    color: black;
    font-family: 'Anonymous Pro', monospace;
}

header{
    height: 1265.74px;
    background-image: url(../images/design/perun.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
}

#navbar {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    a:visited{
        color: black;
    }

}

#linia {
    height: 2px;
    width: 120px;
    margin-top: 14px;
}

.font-im1{
    font-family: 'IM Fell English', serif;
    font-size: 110px;
    color: #BC8417;
    font-style: italic;
    letter-spacing: -1.5px;
}

.font-im2{
    line-height: 61.4%;
    color: black;
    font-size: 174px;
    letter-spacing: -3px;
    font-family: 'IM Fell English', serif;
}

.opis1-index{
    font-size: 22px;
}

b{font-weight: bold;}

.button1-index{
	background-color:#BC8417;
	border:1px solid #BC8417;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 38px;
    letter-spacing: -0.5px;
	text-decoration:none;
}
.button2-index{
	background-color:transparent;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
    letter-spacing: -0.5px;
	padding:15px 38px;
	text-decoration:none;
}

.button2-index:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
.button1-index:hover{
    background-color: #ffffff;
    border-color: #BC8417;
    color: #BC8417;
    transition: 0.5s;
}

.font1-index{
    font-size: 26px;
    color: #ffffff;
    font-family: 'IM Fell English', serif;
}
.font2-index{
    font-size: 26px;
    color: #ffffff;
    font-family: 'IM Fell English', serif;
}

.dot{
    color: #BC8417;
}

main{
    background-color: #0f0c07;
    height: 1251px;
}

.font-im3{
    font-size: 157px;
    letter-spacing: -1.5px;
    font-family: 'IM Fell English', serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #CCC2B6;
    z-index: 10;
    transform: rotate(-90deg);
    position: absolute;
    top: 455px;
    right: 99px;
}

#korzen{
    position: absolute;
    top: 201px;
    right: 300px;
    z-index: 11;
}

.absolute1{
    position: static;
    overflow: hidden;
}
.absolute2{
    position: absolute;
    display: block;
    overflow: visible;
    margin-top: -1533px;
    margin-left: 862px;
}

.absolute3{
    position: static;
}
.absolute4{
    position: absolute;
    display: block;
    overflow: visible;
    margin-top: -1533px;
    margin-left: 862px;
}